.outpass-item {
    display: flex;
    margin-bottom: 20px;
    background-color: #05192d;
    border: 5px solid #05192d;
    border-radius: 15px;
    justify-content: space-between;
}


.outpass-details .outpass-reason{
    padding: 7px;
}

.outpass-status .outpass-aprove {
    background-color: #60c988;
    border: 5px solid #60c988;
    border-radius: 5px;
    width: 80px;
    margin-right: 10px;
}

.outpass-status .outpass-deny {
    background-color: #DF5D2F;
    border: 5px solid #DF5D2F;
    border-radius: 5px;
    width: 80px;
    margin-right: 10px;
}
  
/* .outpass-item .outpass-image {
    min-width: 20%;
    max-width: 20%;
    height: 130px;
    border-radius: 15px;
    margin-right: 15px;
}

.outpass-image img {
    height: 130px;
    border-radius: 15px;
} */
  