.outpass-list-container {
  width: 50%;
  margin: 0 auto;
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outpass-list-container .outpass-title-section {
  margin: 0 auto 10px auto;
  /* margin-bottom: 10px;
  margin: ; */
  color: #fff;
}

.outpass-list-container .outpass-list-title {
  width: fit-content;
  margin: 5px auto;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.outpass-list-container .outpass-list-section {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  border: 5px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  color: #fff;
}

.outpass-list-container .outpass-pagination-section {
  margin: 15px auto 0 auto;
  width: fit-content;
}

.outpass-list-container .post-outpass-button-section {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  margin: 0 20px 20px 0;
  padding: 10px;
  background-color: #03ef62;
  border: 5px solid #03ef62;
  color: #163269;
}

.outpass-list-container .post-outpass-button-section:hover {
  cursor: pointer;
  background-color: #65ff8f;
  border-color: #65ff8f;
  text-decoration: none;
}
